<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newtoons_Toolbox"
        android:usesCleartextTraffic="true"
        tools:ignore="WrongManifestParent"
        tools:targetApi="31">
        <activity
            android:name=".ACT_LobbyMaestro"
            android:exported="false" />
        <activity
            android:name=".ACT_MA_RecuperarPass"
            android:exported="false" />
        <activity
            android:name=".ACT_LogginMaestro"
            android:exported="false" />
        <activity
            android:name=".ACT_AD_CRUD_maestro"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_Calculadora_Pascal"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_Calculadora_Young"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_Calculadora_Hooke"
            android:exported="false" />
        <activity
            android:name=".ACT_AL_banco_formulas"
            android:exported="false" />
        <activity
            android:name=".ACT_AL_Cuestionario"
            android:exported="false" />
        <activity
            android:name=".ACT_AL_Explicacion"
            android:exported="false" />
        <activity
            android:name=".ACT_AL_explicacion2"
            android:exported="false" />
        <activity
            android:name=".ACT_AL_Resultados"
            android:exported="false" />
        <activity
            android:name=".ACT_AL_TemaLobby"
            android:exported="false" />
        <activity
            android:name=".ACT_F2_banco_formulas"
            android:exported="false" />
        <activity
            android:name=".ACT_F2_Cuestionario"
            android:exported="false" />
        <activity
            android:name=".ACT_F2_Explicacion"
            android:exported="false" />
        <activity
            android:name=".ACT_F2_explicacion2"
            android:exported="false" />
        <activity
            android:name=".ACT_F2_Resultados"
            android:exported="false" />
        <activity
            android:name=".ACT_F2_TemaLobby"
            android:exported="false" />
        <activity
            android:name=".ACT_AD_RecuperarPass"
            android:exported="false" />
        <activity
            android:name=".ACT_LobbyAdmin"
            android:exported="false" />
        <activity
            android:name=".ACT_LogginAdmin"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_explicacion2"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_Explicacion"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_banco_formulas"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_Resultados"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_Cuestionario"
            android:exported="false" />
        <activity
            android:name=".ACT_F1_TemaLobby"
            android:exported="false" />
        <activity
            android:name=".ACT_LobbyFisica2"
            android:exported="false" />
        <activity
            android:name=".ACT_LobbyFisica1"
            android:exported="false" />
        <activity
            android:name=".ACT_LobbyAlgebra"
            android:exported="false" />
        <activity
            android:name=".ACT_LobbyEstudiante"
            android:exported="false" />
        <activity
            android:name=".ACT_Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>